<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Thymleaf Contact Application</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contacts}">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addcontact}">Add Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/searchresult}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:name="name" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<h1>This is the add contact page</h1>

<form th:action="@{'/addcontact'}" th:object="${contact}" method="post">
    <p>
        Name: <input type="text"">
    </p>
    <p>
        Email: <input type="text" >
    </p>
    <p>
        Contact number: <input type="text">
    </p>
    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">

    </p>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>